@font-face {
  font-family: "Trajan Pro Regular";
  src: url("../fonts/TrajanPro-Regular.eot");
  src: url("../fonts/TrajanPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanPro-Regular.woff2") format("woff2"), url("../fonts/TrajanPro-Regular.woff") format("woff"), url("../fonts/TrajanPro-Regular.ttf") format("truetype"), url("../fonts/TrajanPro-Regular.svg") format("svg");
}
/* Base style */  
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 1.5rem;
  padding: 0;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 2rem;
}

.transition {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.transformCenter {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  margin: 0 -1.5rem;
}
.row div[class^=col-] {
  padding: 0 1.5rem;
}

.container, .container-fluid {
  padding: 0 1.5rem;
}

/* End Base style */
.sec-pad {
  padding: 3rem 0;
}

.navbar .navbar-toggler {
  border-color: transparent;
  color: #000;
}
.navbar .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.navbar .navbar-toggler-icon {
  background-image: none;
  width: 3rem;
  height: 3rem;
  position: relative;
}
.navbar .navbar-toggler-icon span {
  position: absolute;
  height: 0.3rem;
  width: 100%;
  top: 50%;
  left: 0px;
  margin-top: -0.15rem;
  background: #000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar .navbar-toggler-icon span:nth-of-type(1) {
  margin-top: -0.9rem;
}
.navbar .navbar-toggler-icon span:nth-of-type(3) {
  margin-top: 0.7rem;
}
.navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon span:nth-of-type(1) {
  margin-top: -0.8rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2rem;
}
.navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon span:nth-of-type(3) {
  margin-top: 0.6rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0.6rem;
  left: 0;
}
.navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon span:nth-of-type(2) {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 117rem;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    padding: 0px;
    background: transparent;
    border-color: transparent;
  }

  div#navbarSupportedContent {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    z-index: 999999;
    background: #333;
  }

  .navbar-light .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
